h1 {
  color: blue;
  font-family: verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 300%;
}

p {
  color: rgb(78, 118, 118);
  font-family: courier;
  font-size: 160%;
}

.images {
  width: 400px;
  height: 150px;
}
.carousel-image{
  width: 100%;
  height: auto;
}
.smallimage{
  width: 100px;
  height: auto;
}